.messenger-user div {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: calc(100% - 75px - 1rem);
}

.messenger-left {
  min-width: 40px;
}

.messenger-right {
  min-width: 230px;
}

.messenger {
  overflow: hidden;
}

.chat-content-user {
  height: calc(100vh - 60px - 90px - 90px);
  overflow-y: scroll;
}

.messChatName {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  text-overflow: ellipsis;
}

.choose-item:hover {
  transition: all 0.3s;
  border: solid 3px rgb(255, 255, 1);
  background-color: rgb(255, 0, 0) !important;
}

@media (max-width: 400px) {
  .messChatName {
    width: 150px;
  }
}
